numpy
fire
soundfile
unidecode
numba
librosa
mpi4py
av
git+https://github.com/jmoso13/a-unet.git@add_dilation
git+https://github.com/jmoso13/audio-diffusion-pytorch.git@noise_pass
torchmetrics
pytorch-lightning
wandb
Pygments
git+https://github.com/arogozhnikov/einops.git@master
ipython
pandas
resampy
tqdm
pillow
git+https://github.com/craftmine1000/jukebox-saveopt
PyYAML
git+https://github.com/Harmonai-org/sample-generator.git
git+https://github.com/crowsonkb/v-diffusion-pytorch.git
